<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Forms</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'form_errors' %>
	</div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'new_form' %>
	</div>
</div>
